/*---------------------------------------------------------------------
- Reset
--------------------------------------------------------------------*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css");
::-moz-selection {
  background: rgba(14, 120, 174, 0.6);
  color: #fff; }
::selection {
  background: rgba(14, 120, 174, 0.6);
  color: #fff; }

::-moz-selection {
  background: #b89648; }

::selection {
  background: #b89648; }

::-moz-selection {
  background: #b89648;
  color: #fff; }

a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

*:focus {
  outline: none !important; }

::-webkit-scrollbar {
  min-width: 3px;
  width: 0.3%;
  max-width: 4px; }

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: #171719; }

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6); }

img {
  max-width: 100%; }

strong,
b {
  font-weight: 700; }

i,
em {
  font-style: italic; }

.clr {
  border: 0;
  clear: both;
  height: 0; }

html,
body {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

.display-table {
  display: table;
  width: 100%;
  height: 100%; }

.display-table-cell {
  display: table-cell;
  vertical-align: middle; }

.preloader {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
  width: 100%; }

.preloader span {
  display: block;
  height: auto;
  margin: auto;
  width: 400px;
  color: #000; }

body {
  background: #fff;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 !important; }

/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d19e2b;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
  color: white; }

.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

h1 {
  font-size: 53px;
  font-weight: 700;
  text-transform: uppercase; }

.crcl {
  background: #b89648;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0 0 15px; }

figure {
  margin: 0; }

.cs-btn[pk] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.cs-btn[pk] .lines {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  -moz-transition: all ease 800ms;
  -o-transition: all ease 800ms;
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms; }

.cs-btn[pk] .lines.top {
  top: -2px;
  left: -2px;
  height: 3px;
  width: 0; }

.cs-btn[pk] .lines.right {
  top: -2px;
  right: -2px;
  width: 3px;
  height: 0; }

.cs-btn[pk] .lines.bottom {
  bottom: -2px;
  right: -2px;
  width: 0;
  height: 3px; }

.cs-btn[pk] .lines.left {
  bottom: -2px;
  left: -2px;
  width: 3px;
  height: 0; }

.cs-btn[pk]:hover .lines {
  background: #b89648; }

.cs-btn[pk]:hover .lines.top,
.cs-btn[pk]:hover .lines.bottom {
  padding-right: 2px;
  width: 100% !important; }

.cs-btn[pk]:hover .lines.left,
.cs-btn[pk]:hover .lines.right {
  height: 100% !important;
  padding-bottom: 2px; }

/*--------------------------------------------------------------
- Header 
--------------------------------------------------------------*/
header {
  background: rgba(0, 0, 0, 0.87);
  padding: 8px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  header .navbar {
    padding: 0; }
    header .navbar .logo {
      margin: 0 8% 0 0;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 154px; }
      @media (max-width: 1370px) {
        header .navbar .logo {
          margin: 0 4% 0 0; } }
    header .navbar .nav-item.nav-link {
      color: #fff !important;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      padding: 10px 22px !important;
      margin: 0 1px;
      font-size: 18px;
      font-weight: 300; }
      header .navbar .nav-item.nav-link.active, header .navbar .nav-item.nav-link:hover, header .navbar .nav-item.nav-link:focus {
        background: #b89648; }
      @media (max-width: 1600px) {
        header .navbar .nav-item.nav-link {
          padding: 10px 14px !important;
          font-size: 15px; } }
      @media (max-width: 1300px) {
        header .navbar .nav-item.nav-link {
          padding: 10px 9px !important;
          font-size: 14px; } }
    header .navbar li {
      position: relative; }
      header .navbar li:hover .dropdown-menu {
        display: block; }
  header.sticky .logo {
    width: 100px; }
  header.sticky .nav-item.nav-link {
    font-size: 15px;
    padding: 8px 16px !important; }
    @media (max-width: 1300px) {
      header.sticky .nav-item.nav-link {
        padding: 10px 13px !important;
        font-size: 14px; } }
  header.sticky ul {
    margin-top: 20px; }
    header.sticky ul li {
      font-size: 16px !important; }

.login_plus_soicialdtls {
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .login_plus_soicialdtls .login_btn {
    font-size: 18px;
    color: #fff;
    border: 1px solid #2f2f30;
    display: block;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 300;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .login_plus_soicialdtls .login_btn a {
      color: #fff; }
    .login_plus_soicialdtls .login_btn i {
      color: #b89648;
      margin: 0 7px 0 0;
      font-size: 23px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .login_plus_soicialdtls .login_btn:hover, .login_plus_soicialdtls .login_btn:focus {
      background: #b89648;
      color: #fff; }
      .login_plus_soicialdtls .login_btn:hover i, .login_plus_soicialdtls .login_btn:focus i {
        color: #fff; }
    .login_plus_soicialdtls .login_btn .caret1 {
      margin-left: 7px; }
    @media (max-width: 1370px) {
      .login_plus_soicialdtls .login_btn {
        font-size: 15px; } }
  .login_plus_soicialdtls ul {
    display: block;
    margin: 35px 0 0;
    float: right;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .login_plus_soicialdtls ul li {
      margin: 0 32px 0 0;
      float: left;
      font-size: 24px; }
      .login_plus_soicialdtls ul li:last-child {
        margin: 0; }
        .login_plus_soicialdtls ul li:last-child a {
          color: #b89648; }
      .login_plus_soicialdtls ul li a {
        color: #fff; }
        .login_plus_soicialdtls ul li a:hover, .login_plus_soicialdtls ul li a:focus {
          color: #b89648; }
      @media (max-width: 1370px) {
        .login_plus_soicialdtls ul li {
          font-size: 20px; } }
  .login_plus_soicialdtls .view_links {
    background: #202020;
    position: absolute;
    right: 0;
    z-index: 10;
    display: none;
    top: 45px;
    margin-top: 0;
    width: 100%;
    border: 1px solid #2f2f30; }
    .login_plus_soicialdtls .view_links li {
      font-size: 15px;
      width: 100%;
      margin-right: 0;
      text-transform: capitalize;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .login_plus_soicialdtls .view_links li:hover, .login_plus_soicialdtls .view_links li:focus {
        background: #b89648; }
      .login_plus_soicialdtls .view_links li a {
        color: #fff !important;
        display: block;
        padding: 15px;
        border-bottom: 1px solid #373737; }
      .login_plus_soicialdtls .view_links li:last-child a {
        border: 0 none; }

nav .dropdown-menu {
  background: #f0f0f0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  list-style: outside none none !important;
  margin: 0;
  vertical-align: top;
  width: 197px;
  padding: 0;
  border: 0;
  text-align: left;
  left: 0 !important;
  top: 100% !important; }

nav ul .dropdown-menu li {
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  border-bottom: 1px solid #0979a3;
  padding: 0;
  margin-bottom: 1px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

nav ul .dropdown-menu li:last-child {
  margin-bottom: 0;
  border-bottom: 0; }

.dropdown-item {
  line-height: normal;
  padding: 10px 38px;
  color: #000;
  display: block;
  font-size: 14px;
  padding: 11px;
  border-bottom: 1px solid #fff;
  white-space: normal; }

.dropdown-item:last-child {
  border-bottom: 0; }

.dropdown-item:hover a,
.dropdown-item:focus a {
  color: #fff; }

nav .dropdown-menu > .dropdown-item:focus,
nav ul .dropdown-menu > .dropdown-item:hover,
nav ul .dropdown-menu > .dropdown-item a,
.dropdown-item.active,
.dropdown-item:active {
  /* background: #ab6e19;*/
  background: transparent;
  color: #d1ab76; }

/*--------------------------------------------------------------
- Common 
--------------------------------------------------------------*/
#scroll {
  float: left;
  height: 0;
  position: relative;
  top: -90px;
  vertical-align: top; }

#particles-js,
#particles-js1,
#particles-js3,
#particles-js4,
#particles-js5 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#particles-js1,
#particles-js4,
#particles-js5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px !important;
  height: 500px !important;
  z-index: -1; }

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px !important;
  height: 450px !important; }

#particles-js1 .particles-js-canvas-el,
#particles-js4 .particles-js-canvas-el,
#particles-js5 .particles-js-canvas-el {
  bottom: 0;
  top: inherit; }

.banner {
  background-size: cover !important;
  background-size: no-repeat !important;
  background-position: center !important;
  height: 100vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0; }
  .banner .info-caption h1 {
    color: #fff; }
  .banner .info-caption h2 {
    color: #fff;
    font-size: 38px;
    margin: 0 0 18px; }
  .banner .info-caption p {
    font-weight: 300;
    font-size: 18px;
    color: #fff; }
    @media screen and (max-width: 1370px) {
      .banner .info-caption p {
        font-size: 15px; } }
  .banner .info-caption a {
    color: #fff;
    padding: 13px 32px;
    font-size: 20px;
    text-transform: uppercase;
    background: #b89648;
    display: inline-block;
    margin-top: 40px;
    font-weight: 700; }

.about {
  background: #fff;
  position: relative;
  padding: 110px 0 0 0;
  z-index: 2;
  position: relative;
  margin-top: calc(100vh + 60px); }
  .about.about_us {
    padding: 230px 0 0;
    margin-top: 0; }
    .about.about_us .abt_cntnt {
      margin-top: 70px; }
  .about h2 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .about h2 {
        font-size: 40px; } }
    .about h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .about p.tgline {
    font-size: 18px;
    color: #333333;
    text-align: center;
    width: 100%;
    max-width: 765px;
    margin: 40px auto 0; }
  .about .abt_cntnt {
    margin: 55px 0 0;
    padding: 0 0 40px 0;
    position: relative;
    overflow: hidden; }
    .about .abt_cntnt .abt_img {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: -40px; }
      .about .abt_cntnt .abt_img figure {
        margin: 0; }
      @media (max-width: 1370px) {
        .about .abt_cntnt .abt_img {
          bottom: 0;
          width: 371px;
          margin: auto; } }
    .about .abt_cntnt .abt_points ul {
      counter-reset: section; }
      .about .abt_cntnt .abt_points ul li {
        margin: 0 0 40px;
        position: relative;
        float: left;
        width: 34%;
        z-index: 1; }
        .about .abt_cntnt .abt_points ul li:nth-child(2n) {
          float: right; }
        .about .abt_cntnt .abt_points ul li:after {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          color: #ededed;
          right: 0;
          font-size: 178px;
          bottom: 0;
          line-height: 0.75;
          z-index: -1; }
        .about .abt_cntnt .abt_points ul li p {
          color: #333333;
          font-size: 18px; }
          @media screen and (max-width: 1370px) {
            .about .abt_cntnt .abt_points ul li p {
              font-size: 15px; } }
        .about .abt_cntnt .abt_points ul li h4 {
          font-size: 24;
          margin: 0 0 43px;
          position: relative;
          font-weight: 700;
          color: #000000;
          text-transform: uppercase; }
          .about .abt_cntnt .abt_points ul li h4:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -17px;
            background: #b89648;
            width: 80px;
            height: 2px; }
          @media screen and (max-width: 1370px) {
            .about .abt_cntnt .abt_points ul li h4 {
              font-size: 20px; } }
    .about .abt_cntnt .sponsr_logos {
      float: right;
      width: 34%;
      margin-top: 40px;
      position: relative; }
      .about .abt_cntnt .sponsr_logos ul li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 50px 0 0; }
        @media (max-width: 1370px) {
          .about .abt_cntnt .sponsr_logos ul li {
            margin: 0 10px 0 0; } }
  .about .about_members {
    background: #fafafa;
    padding: 120px 0 100px;
    position: relative;
    z-index: 1; }
    .about .about_members .block-1 {
      text-align: center;
      position: relative;
      overflow: hidden;
      background: #fafafa; }
      .about .about_members .block-1 .left_block,
      .about .about_members .block-1 .right_block {
        width: 48%;
        float: left;
        border: 1px solid #e3e3e3;
        padding: 100px;
        position: relative;
        overflow: hidden; }
        .about .about_members .block-1 .left_block figure,
        .about .about_members .block-1 .right_block figure {
          width: 222px;
          height: 222px;
          border: 5px solid #e0e0e0;
          overflow: hidden;
          border-radius: 50%;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          margin: auto; }
        .about .about_members .block-1 .left_block h3,
        .about .about_members .block-1 .right_block h3 {
          font-size: 28px;
          color: #000000;
          font-weight: 700;
          text-transform: capitalize;
          margin: 15px 0 10px; }
          @media screen and (max-width: 1370px) {
            .about .about_members .block-1 .left_block h3,
            .about .about_members .block-1 .right_block h3 {
              font-size: 20px; } }
        .about .about_members .block-1 .left_block p,
        .about .about_members .block-1 .right_block p {
          font-size: 21px;
          color: #000;
          font-weight: 400;
          line-height: 1.4; }
          @media screen and (max-width: 1370px) {
            .about .about_members .block-1 .left_block p,
            .about .about_members .block-1 .right_block p {
              font-size: 15px; } }
        .about .about_members .block-1 .left_block:hover figure,
        .about .about_members .block-1 .right_block:hover figure {
          border-color: #b89648;
          border-radius: 0%; }
        @media (max-width: 1600px) {
          .about .about_members .block-1 .left_block,
          .about .about_members .block-1 .right_block {
            padding: 40px; } }
      .about .about_members .block-1 .right_block {
        float: right; }
    .about .about_members .block-2 {
      text-align: center;
      overflow: hidden; }
      .about .about_members .block-2 li {
        width: 48%;
        float: left;
        border: 1px solid #e3e3e3;
        padding: 30px;
        min-height: 302px;
        margin: 0 0 40px;
        position: relative;
        overflow: hidden; }
        .about .about_members .block-2 li figure {
          width: 154px;
          height: 154px;
          border: 5px solid #e0e0e0;
          overflow: hidden;
          border-radius: 50%;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          margin: auto; }
        .about .about_members .block-2 li h3 {
          font-size: 18px;
          color: #000000;
          font-weight: 700;
          text-transform: capitalize;
          margin: 15px 0 10px; }
        .about .about_members .block-2 li p {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          line-height: 1.4; }
        .about .about_members .block-2 li:hover figure {
          border-color: #b89648;
          border-radius: 0%; }
        .about .about_members .block-2 li:nth-child(even) {
          float: right; }
        .about .about_members .block-2 li:nth-child(3), .about .about_members .block-2 li:nth-child(4) {
          margin: 0; }
        @media (max-width: 1600px) {
          .about .about_members .block-2 li {
            padding: 20px; } }
    .about .about_members:before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: url(../images/web_lft.png);
      width: 345px;
      height: 679px;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      z-index: -1; }

.shop_plus_courses {
  height: 498px;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 1370px) {
    .shop_plus_courses {
      height: 390px; } }
  .shop_plus_courses .shop_sec {
    background-size: cover !important;
    height: 100%;
    background-position: center !important;
    float: left;
    width: 50%;
    text-align: center; }
    .shop_plus_courses .shop_sec .data_info {
      display: table;
      width: 100%;
      height: 100%;
      max-width: 570px;
      margin: auto; }
      .shop_plus_courses .shop_sec .data_info h2 {
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 0 40px;
        position: relative;
        font-size: 55px; }
        @media screen and (max-width: 1370px) {
          .shop_plus_courses .shop_sec .data_info h2 {
            font-size: 40px; } }
        .shop_plus_courses .shop_sec .data_info h2:after {
          position: absolute;
          bottom: -24px;
          background: #ccc;
          content: "";
          height: 2px;
          width: 119px;
          left: 0;
          right: 0;
          margin: auto; }
      .shop_plus_courses .shop_sec .data_info p {
        color: #fff;
        font-weight: 300;
        font-size: 18px; }
        @media screen and (max-width: 1370px) {
          .shop_plus_courses .shop_sec .data_info p {
            font-size: 15px; } }
      .shop_plus_courses .shop_sec .data_info a {
        color: #fff;
        padding: 13px 32px;
        font-size: 20px;
        text-transform: uppercase;
        background: #b89648;
        display: inline-block;
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500; }

.microblading_section {
  background: #fff;
  padding: 110px 0 20px;
  position: relative;
  z-index: 2; }
  .microblading_section.microblading_main_page {
    padding-top: 230px; }
    .microblading_section.microblading_main_page:before {
      display: none; }
  .microblading_section h2 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #000;
    display: block;
    margin: 0 0 80px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .microblading_section h2 {
        font-size: 40px; } }
    .microblading_section h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .microblading_section h4 {
    font-size: 24px;
    margin: 0 0 43px;
    position: relative;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase; }
    .microblading_section h4:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -17px;
      background: #b89648;
      width: 80px;
      height: 2px; }
    @media screen and (max-width: 1370px) {
      .microblading_section h4 {
        font-size: 20px; } }
  .microblading_section ul li {
    margin: 0 0 40px;
    position: relative;
    float: left;
    z-index: 1;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 40px; }
    .microblading_section ul li p {
      color: #333333;
      font-size: 18px; }
      @media screen and (max-width: 1370px) {
        .microblading_section ul li p {
          font-size: 15px; } }
    .microblading_section ul li:last-child {
      border: 0;
      padding: 0; }
  .microblading_section .vw_all {
    color: #fff;
    padding: 13px 32px;
    font-size: 20px;
    text-transform: uppercase;
    background: #b89648;
    display: block;
    margin: 50px auto;
    padding: 13px 50px;
    width: 185px;
    text-align: center; }

.doc {
  background-size: cover !important;
  background-attachment: fixed !important;
  height: auto;
  background-position: center !important;
  padding: 82px 0;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat !important; }
  .doc h2 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 0 40px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .doc h2 {
        font-size: 40px; } }
    .doc h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .doc p.tgline {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 1295px;
    margin: 40px auto 0; }
  .doc:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    z-index: -1; }
  .doc .course_slider {
    margin: 35px 0 0; }
    .doc .course_slider .box {
      background: #fff;
      padding: 36px 48px;
      text-align: center; }
      .doc .course_slider .box figure {
        width: 273px;
        height: 273px;
        margin: 0 auto 20px;
        border-radius: 50%;
        overflow: hidden; }
      .doc .course_slider .box h4 {
        font-size: 24px;
        color: #000;
        text-transform: uppercase;
        font-weight: 700; }
      .doc .course_slider .box h5 {
        font-size: 18px;
        color: #333333;
        text-transform: capitalize;
        margin: 12px 0 48px;
        position: relative; }
        .doc .course_slider .box h5:after {
          content: "";
          position: absolute;
          bottom: -22px;
          width: 80px;
          height: 1px;
          background: #b89648;
          left: 0;
          right: 0;
          margin: auto; }
      .doc .course_slider .box p {
        font-size: 18px;
        color: #333; }
        @media screen and (max-width: 1370px) {
          .doc .course_slider .box p {
            font-size: 15px; } }
      .doc .course_slider .box a {
        background: #b89648;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 20px;
        display: inline-block;
        margin-top: 25px; }
    .doc .course_slider .owl-prev {
      height: 58px;
      left: -140px;
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 58px;
      color: transparent;
      border-radius: 50%;
      border: 3px solid #8f8f8f; }
      .doc .course_slider .owl-prev::before {
        color: #fff;
        content: "\f104";
        font-family: FontAwesome;
        font-size: 28px;
        left: -2px;
        position: absolute;
        right: 0;
        top: 3px;
        text-align: center; }
      .doc .course_slider .owl-prev:hover {
        background: #b89648; }
      @media (max-width: 1600px) {
        .doc .course_slider .owl-prev {
          left: -100px; } }
      @media (max-width: 1320px) {
        .doc .course_slider .owl-prev {
          left: -42px; } }
    .doc .course_slider .owl-next {
      right: -140px;
      height: 58px;
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 58px;
      color: transparent;
      border-radius: 50%;
      border: 3px solid #8f8f8f; }
      .doc .course_slider .owl-next::before {
        color: #fff;
        content: "\f105";
        font-family: FontAwesome;
        font-size: 28px;
        left: 0px;
        position: absolute;
        right: 0;
        top: 3px;
        text-align: center; }
      .doc .course_slider .owl-next:hover {
        background: #b89648; }
      @media (max-width: 1600px) {
        .doc .course_slider .owl-next {
          right: -100px; } }
      @media (max-width: 1320px) {
        .doc .course_slider .owl-next {
          right: -42px; } }

.contact_us {
  padding: 110px 0 120px;
  position: relative;
  background-attachment: fixed !important;
  z-index: 2;
  background: #fff; }
  .contact_us:before {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: ""; }
  .contact_us h2 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 0 65px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .contact_us h2 {
        font-size: 40px; } }
    .contact_us h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .contact_us .tgline {
    font-size: 18px;
    font-weight: 300;
    color: #fff; }
  .contact_us form {
    margin: 42px 0 0; }
    .contact_us form .form-control {
      background: none;
      border: 0 none;
      padding: 0;
      margin: 0 0 15px; }
      .contact_us form .form-control input,
      .contact_us form .form-control textarea {
        height: 60px;
        padding: 0 15px;
        width: 100%;
        border: 1px solid #fff; }
        .contact_us form .form-control input:focus,
        .contact_us form .form-control textarea:focus {
          border-color: #b89648; }
      .contact_us form .form-control textarea {
        height: 154px;
        resize: none;
        padding: 15px; }
    .contact_us form .outr_inpt_btn {
      background: #b89648; }
    .contact_us form .sbmt_btn {
      background: transparent;
      width: 190px;
      height: 62px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      border: 0;
      cursor: pointer;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .contact_us form .sbmt_btn:hover, .contact_us form .sbmt_btn:focus {
        background: #d19e2b; }

.blog {
  padding: 90px 0;
  background: #fff;
  position: relative;
  z-index: 2; }
  .blog.blog_section {
    padding: 230px 0 0;
    margin-top: 0; }
    .blog.blog_section .abt_cntnt {
      margin-top: 70px; }
  .blog h2 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #000;
    display: block;
    margin: 0 0 80px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .blog h2 {
        font-size: 40px; } }
    .blog h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .blog .blog_box {
    overflow: hidden;
    position: relative; }
    .blog .blog_box figure {
      width: 100%;
      overflow: hidden; }
      .blog .blog_box figure img {
        width: 100%;
        -o-transition: all 7s;
        transition: all 7s;
        -webkit-transition: all 7s;
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1); }
      .blog .blog_box figure:hover img {
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform: scale(1.2); }
    .blog .blog_box .blog_info {
      border: 1px solid #e0e0e0;
      padding: 45px 30px;
      border-top: 0; }
      .blog .blog_box .blog_info p {
        font-weight: 300;
        font-size: 18px;
        color: #333333; }
        @media screen and (max-width: 1370px) {
          .blog .blog_box .blog_info p {
            font-size: 15px; } }
      .blog .blog_box .blog_info h4 {
        font-size: 24px;
        margin: 40px 0 43px;
        position: relative;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase; }
        .blog .blog_box .blog_info h4 a {
          color: #000; }
        .blog .blog_box .blog_info h4:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -17px;
          background: #b89648;
          width: 80px;
          height: 2px; }
        @media screen and (max-width: 1370px) {
          .blog .blog_box .blog_info h4 {
            font-size: 20px; } }
  .blog .vw_all {
    color: #fff;
    padding: 13px 32px;
    font-size: 20px;
    text-transform: uppercase;
    background: #b89648;
    display: inline-block;
    margin: 70px auto 0;
    padding: 13px 50px; }

.blog_content_section {
  margin-bottom: 52px; }
  .blog_content_section .blog_box {
    border: 1px solid #e9eaec;
    margin: 0 0 40px;
    border-radius: 3px; }
    .blog_content_section .blog_box .info_blog {
      padding: 32px 20px; }
      .blog_content_section .blog_box .info_blog.single_blog p {
        margin: 0 0 35px; }
      .blog_content_section .blog_box .info_blog h3 {
        font-size: 22px;
        color: #000;
        margin: 0 0 15px; }
        .blog_content_section .blog_box .info_blog h3 a {
          color: #000; }
          .blog_content_section .blog_box .info_blog h3 a:hover {
            color: #b89648; }
      .blog_content_section .blog_box .info_blog ul {
        overflow: hidden;
        margin: 20px 0 20px; }
        .blog_content_section .blog_box .info_blog ul li {
          float: left;
          color: #b89648;
          font-size: 14px;
          text-transform: capitalize;
          position: relative;
          margin: 0 10px 0 0px; }
          .blog_content_section .blog_box .info_blog ul li:before {
            display: inline-block;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            vertical-align: middle;
            background: #b89648;
            margin: -2px 10px 0 0; }
          .blog_content_section .blog_box .info_blog ul li:first-child {
            margin-left: 0; }
            .blog_content_section .blog_box .info_blog ul li:first-child:before {
              display: none; }
      .blog_content_section .blog_box .info_blog p {
        color: #333333;
        font-size: 18px;
        font-weight: 300; }
        @media screen and (max-width: 1370px) {
          .blog_content_section .blog_box .info_blog p {
            font-size: 16px; } }
      .blog_content_section .blog_box .info_blog a.rd_more {
        background: #b89648;
        width: 145px;
        height: 48px;
        color: #fff;
        display: block;
        margin: 22px 0 0;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px; }
    .blog_content_section .blog_box .blog_date {
      width: 75px;
      height: 75px;
      background: #b89648;
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 5px;
      z-index: 2;
      text-align: center; }
      .blog_content_section .blog_box .blog_date h4 {
        font-size: 25px;
        font-weight: 700;
        color: #fff; }
      .blog_content_section .blog_box .blog_date p {
        color: #fff;
        font-size: 12px;
        font-weight: 400; }
  .blog_content_section .pagination_view {
    text-align: center;
    margin: 50px 0; }

.sidebar_view {
  padding: 0 0 0 40px; }
  .sidebar_view .srch_bar {
    position: relative; }
    .sidebar_view .srch_bar input {
      height: 60px;
      border: 1px solid #e8e8e8;
      padding: 0 50px 0 20px;
      width: 100%; }
    .sidebar_view .srch_bar button {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: 0;
      height: 60px;
      color: #757575;
      padding: 0 15px;
      text-align: left;
      cursor: pointer; }
  .sidebar_view .categories {
    margin: 52px 0 0 0; }
    .sidebar_view .categories h4 {
      font-size: 24;
      margin: 0 0 43px;
      position: relative;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase; }
      .sidebar_view .categories h4:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        background: #b89648;
        width: 80px;
        height: 2px; }
      @media screen and (max-width: 1370px) {
        .sidebar_view .categories h4 {
          font-size: 20px; } }
    .sidebar_view .categories ul li {
      font-size: 17px;
      color: #333333;
      text-transform: uppercase;
      border-bottom: 1px solid #e3e3e3;
      margin: 0 0 24px 5px;
      padding: 0 0 24px; }
      .sidebar_view .categories ul li a {
        color: #333; }
        .sidebar_view .categories ul li a:hover, .sidebar_view .categories ul li a:focus {
          color: #b89648; }
      @media screen and (max-width: 1370px) {
        .sidebar_view .categories ul li {
          font-size: 14px; } }
  .sidebar_view .tags {
    margin: 52px 0 0 0;
    overflow: hidden; }
    .sidebar_view .tags h4 {
      font-size: 24;
      margin: 0 0 43px;
      position: relative;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase; }
      .sidebar_view .tags h4:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        background: #b89648;
        width: 80px;
        height: 2px; }
      @media screen and (max-width: 1370px) {
        .sidebar_view .tags h4 {
          font-size: 20px; } }
    .sidebar_view .tags ul li {
      font-size: 13px;
      color: #000;
      text-transform: uppercase;
      float: left;
      width: 30%;
      margin: 0 12px 15px 0; }
      .sidebar_view .tags ul li a {
        color: #000;
        padding: 17px 2px;
        display: block;
        border: 1px solid #e3e3e3;
        text-align: center; }
        .sidebar_view .tags ul li a:hover, .sidebar_view .tags ul li a:focus {
          background: #b89648;
          color: #fff; }
      .sidebar_view .tags ul li:nth-child(3n) {
        margin-right: 0; }
      @media screen and (max-width: 1370px) {
        .sidebar_view .tags ul li {
          margin: 0 10px 15px 0;
          font-size: 12px; } }
  .sidebar_view .product-slider {
    margin: 35px 0 50px; }
    .sidebar_view .product-slider .item {
      position: relative; }
      .sidebar_view .product-slider .item h3 {
        position: absolute;
        left: 15px;
        top: 10px;
        font-size: 32px;
        font-weight: 500;
        color: #ffffff;
        text-transform: capitalize; }
        @media screen and (max-width: 1370px) {
          .sidebar_view .product-slider .item h3 {
            font-size: 22px; } }
      .sidebar_view .product-slider .item a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 15px;
        position: absolute;
        bottom: 15px;
        left: 15px;
        background: #b89648; }
    .sidebar_view .product-slider .owl-nav {
      position: absolute;
      right: 15px;
      bottom: 23px; }
      .sidebar_view .product-slider .owl-nav .owl-prev,
      .sidebar_view .product-slider .owl-nav .owl-next {
        color: transparent; }
      .sidebar_view .product-slider .owl-nav .owl-prev {
        left: inherit;
        position: absolute;
        border: 1px solid #fff;
        width: 30px;
        bottom: 0;
        right: 38px; }
        .sidebar_view .product-slider .owl-nav .owl-prev:before {
          color: #fff;
          content: "\f104";
          font-family: FontAwesome;
          font-size: 23px;
          left: 0;
          position: absolute;
          right: 0;
          top: -7px;
          text-align: center; }
      .sidebar_view .product-slider .owl-nav .owl-next {
        position: absolute;
        border: 1px solid #fff;
        width: 30px;
        bottom: 0;
        right: 0; }
        .sidebar_view .product-slider .owl-nav .owl-next:before {
          color: #fff;
          content: "\f105";
          font-family: FontAwesome;
          font-size: 23px;
          right: 8px;
          position: absolute;
          top: -7px;
          text-align: center; }
  .sidebar_view .avl_course {
    position: relative;
    text-align: center; }
    .sidebar_view .avl_course h3 {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      left: 0;
      right: 0;
      font-weight: 400;
      color: #fff;
      font-size: 50px; }
      .sidebar_view .avl_course h3 span {
        display: block;
        font-weight: 500; }
      @media screen and (max-width: 1370px) {
        .sidebar_view .avl_course h3 {
          font-size: 32px; } }
    .sidebar_view .avl_course a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 5px;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      background: #b89648;
      width: 160px;
      margin: auto;
      text-align: center; }

.testimonial {
  height: 484px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #fff; }
  .testimonial .left_img_section {
    width: 27%;
    position: relative;
    float: left;
    background-size: cover !important;
    background: #fff url(../images/testimonial_bg_img.jpg) no-repeat scroll 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%; }
  .testimonial .right_slide_section {
    width: 63%;
    float: right;
    padding: 105px 0 55px;
    background: #000;
    height: 100%;
    text-align: center;
    position: relative; }
    .testimonial .right_slide_section h2 {
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      color: #fff;
      display: block;
      margin: 0 0 40px;
      position: relative;
      font-size: 55px; }
      @media screen and (max-width: 1370px) {
        .testimonial .right_slide_section h2 {
          font-size: 40px; } }
      .testimonial .right_slide_section h2:after {
        position: absolute;
        bottom: -24px;
        background: #ccc;
        content: "";
        height: 2px;
        width: 119px;
        left: 0;
        right: 0;
        margin: auto; }
      .testimonial .right_slide_section h2 span {
        color: #b89648; }
    .testimonial .right_slide_section .testimonial_slider {
      width: 78%;
      margin: 50px auto 0; }
      .testimonial .right_slide_section .testimonial_slider p,
      .testimonial .right_slide_section .testimonial_slider h6 {
        color: #fff;
        font-size: 18px;
        font-weight: 300; }
        @media screen and (max-width: 1370px) {
          .testimonial .right_slide_section .testimonial_slider p,
          .testimonial .right_slide_section .testimonial_slider h6 {
            font-size: 15px; } }
      .testimonial .right_slide_section .testimonial_slider h6 {
        margin: 15px 0; }
      .testimonial .right_slide_section .testimonial_slider .owl-dots {
        margin: 25px 0 0; }
        .testimonial .right_slide_section .testimonial_slider .owl-dots .owl-dot {
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 50%;
          display: inline-block;
          margin: 0 5px; }
          .testimonial .right_slide_section .testimonial_slider .owl-dots .owl-dot.active {
            background: #b89648; }
    .testimonial .right_slide_section:before {
      content: "";
      position: absolute;
      top: 0;
      left: -355px;
      z-index: 1;
      width: 0;
      height: 0;
      border-bottom: 560px solid #000;
      border-left: 355px solid transparent; }
    .testimonial .right_slide_section:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: #000;
      right: -3000px;
      z-index: -1; }
  @media screen and (max-width: 1370px) {
    .testimonial {
      height: 450px; } }

.shopping {
  text-align: center;
  padding: 90px 0;
  position: relative;
  z-index: 2;
  background: #fff; }
  .shopping.prdct_categories {
    padding-top: 230px; }
    .shopping.prdct_categories .shop_bnr {
      height: 211px;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      margin-top: 70px; }
    .shopping.prdct_categories .shop_side_img {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px; }
  .shopping.online_learning .tab-content {
    width: 100% !important; }
  .shopping h2 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #000;
    display: block;
    margin: 0 0 40px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .shopping h2 {
        font-size: 40px; } }
    .shopping h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .shopping p {
    font-size: 18px;
    color: #333333;
    font-weight: 300; }
    @media screen and (max-width: 1370px) {
      .shopping p {
        font-size: 15px; } }
  .shopping ul {
    margin: 70px 0 0; }
    .shopping ul li {
      display: inline-block;
      margin: 0 40px;
      width: 25%; }
      @media screen and (max-width: 1370px) {
        .shopping ul li {
          margin: 0 25px; } }
      .shopping ul li .product_view {
        border: 1px solid #ededed;
        padding: 20px 20px;
        margin: 0 0 20px;
        position: relative; }
        .shopping ul li .product_view a.view_link {
          display: block; }
          .shopping ul li .product_view a.view_link figure {
            height: 335px;
            vertical-align: top;
            display: inline-block;
            width: 100%; }
            .shopping ul li .product_view a.view_link figure img {
              width: auto;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
          .shopping ul li .product_view a.view_link:hover figure img {
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transform: scale(1.1); }
        .shopping ul li .product_view ul {
          position: absolute;
          right: 0px;
          top: 20px;
          margin: 0; }
          .shopping ul li .product_view ul li {
            display: block; }
            .shopping ul li .product_view ul li a {
              color: #c5a969; }
      .shopping ul li h5 {
        font-size: 20px;
        position: relative;
        text-transform: capitalize;
        color: #000;
        font-weight: 400;
        padding-bottom: 15px; }
        .shopping ul li h5 a {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          color: #000;
          -o-transition: all 280ms ease-in-out;
          transition: all 280ms ease-in-out;
          -webkit-transition: all 280ms ease-in-out; }
          .shopping ul li h5 a:hover {
            color: #b89648;
            letter-spacing: 1px; }
            @media screen and (max-width: 1370px) {
              .shopping ul li h5 a:hover {
                font-size: 16px; } }
        .shopping ul li h5:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: auto;
          height: 1px;
          width: 70px;
          background: #b89648; }
  .shopping .vw_all {
    color: #fff;
    padding: 13px 32px;
    font-size: 20px;
    text-transform: uppercase;
    background: #b89648;
    display: inline-block;
    margin: 70px auto 0;
    padding: 13px 50px; }
  .shopping .categories_tabbing {
    margin: 50px 0 0;
    text-align: left;
    width: 100%;
    overflow: hidden; }
    .shopping .categories_tabbing .tab-content {
      width: 81%;
      margin-left: 1%;
      display: inline-block;
      vertical-align: top;
      float: right;
      text-align: center; }
      .shopping .categories_tabbing .tab-content ul {
        margin-top: 0; }
      .shopping .categories_tabbing .tab-content h5 {
        text-align: center;
        font-size: 16px; }
      .shopping .categories_tabbing .tab-content .product_view ul {
        right: 20px;
        z-index: 1; }
    .shopping .categories_tabbing li {
      margin: 0 2% 4% 0;
      width: 31.7%; }
      .shopping .categories_tabbing li:nth-child(3n) {
        margin-right: 0; }
      .shopping .categories_tabbing li:last-child {
        margin-bottom: 0; }
    .shopping .categories_tabbing .sidebar_view {
      margin: 0;
      display: inline-block;
      border: 0;
      width: 17%;
      text-align: left; }
      .shopping .categories_tabbing .sidebar_view ul {
        border: 0;
        margin: 0; }
        .shopping .categories_tabbing .sidebar_view ul li {
          width: auto;
          display: block;
          margin: 0 0 5px;
          color: #000;
          width: 100%;
          border: 1px solid #b89648; }
          .shopping .categories_tabbing .sidebar_view ul li a {
            padding: 8px 15px;
            color: #000;
            font-weight: 400;
            font-size: 18px;
            text-transform: capitalize;
            display: block; }
            .shopping .categories_tabbing .sidebar_view ul li a.active, .shopping .categories_tabbing .sidebar_view ul li a:hover {
              background: #b89648;
              color: #fff; }
  .shopping .load_more_btn {
    background: #b89648;
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    padding: 10px 30px;
    margin: 25px 0 0; }

.online_learning p {
  margin-top: 15px; }

.gallery_section {
  background: #000;
  padding: 78px 0 0;
  position: relative;
  z-index: 2; }
  .gallery_section h2 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 0 40px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .gallery_section h2 {
        font-size: 40px; } }
    .gallery_section h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .gallery_section .glry_slider {
    margin: 70px 0 0; }
    .gallery_section .glry_slider .item figure {
      border: 1px solid #fff;
      border-left: 0; }
      .gallery_section .glry_slider .item figure:first-child {
        border-top: 0; }
      .gallery_section .glry_slider .item figure:last-child {
        border-bottom: 0; }
    .gallery_section .glry_slider .owl-prev {
      left: 175px;
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: transparent;
      height: 40px; }
      .gallery_section .glry_slider .owl-prev:before {
        color: #fff;
        content: "\f053";
        font-family: FontAwesome;
        font-size: 28px;
        left: 0px;
        position: absolute;
        right: 0;
        top: 0px;
        text-align: center; }
        .gallery_section .glry_slider .owl-prev:before:hover {
          color: #b89648; }
    .gallery_section .glry_slider .owl-next {
      right: 175px;
      opacity: 1 !important;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: transparent;
      height: 40px; }
      .gallery_section .glry_slider .owl-next:before {
        color: #fff;
        content: "\f054";
        font-family: FontAwesome;
        font-size: 28px;
        left: 0px;
        position: absolute;
        right: 0;
        top: 0px;
        text-align: center; }
        .gallery_section .glry_slider .owl-next:before:hover {
          color: #b89648; }

.contactsection_page {
  padding: 230px 0 90px;
  position: relative;
  z-index: 1; }
  .contactsection_page h2 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #000;
    display: block;
    margin: 0 0 40px;
    position: relative;
    font-size: 55px; }
    @media screen and (max-width: 1370px) {
      .contactsection_page h2 {
        font-size: 40px; } }
    .contactsection_page h2:after {
      position: absolute;
      bottom: -24px;
      background: #ccc;
      content: "";
      height: 2px;
      width: 119px;
      left: 0;
      right: 0;
      margin: auto; }
  .contactsection_page .form_info_section {
    margin: 80px 0 0; }
    .contactsection_page .form_info_section form {
      width: 100%;
      max-width: 90%;
      background: #fff;
      -webkit-box-shadow: 0 0 45px #ddd;
      box-shadow: 0 0 45px #ddd;
      padding: 60px; }
      .contactsection_page .form_info_section form .form-control {
        background: none;
        border: 0 none;
        padding: 0;
        margin: 0 0 15px;
        position: relative; }
        .contactsection_page .form_info_section form .form-control input,
        .contactsection_page .form_info_section form .form-control textarea {
          height: 60px;
          padding: 0 15px 0 45px;
          width: 100%;
          border: 1px solid #d6d6d6; }
          .contactsection_page .form_info_section form .form-control input:focus,
          .contactsection_page .form_info_section form .form-control textarea:focus {
            border-color: #b89648; }
        .contactsection_page .form_info_section form .form-control textarea {
          height: 154px;
          resize: none;
          padding: 15px 15px 15px 45px; }
        .contactsection_page .form_info_section form .form-control i {
          left: 19px;
          top: 5px;
          color: #b1b1b1;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%); }
          .contactsection_page .form_info_section form .form-control i.txt_icn {
            top: 28px; }
      .contactsection_page .form_info_section form .outr_inpt_btn {
        background: #b89648; }
      .contactsection_page .form_info_section form .sbmt_btn {
        background: transparent;
        width: 190px;
        height: 62px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        border: 0;
        cursor: pointer;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .contactsection_page .form_info_section form .sbmt_btn:hover, .contactsection_page .form_info_section form .sbmt_btn:focus {
          background: #d19e2b; }
    .contactsection_page .form_info_section .contct_info_dtl {
      padding-left: 3%;
      margin: 10px 0 0; }
      .contactsection_page .form_info_section .contct_info_dtl a {
        display: block;
        margin: 0 0 20px;
        color: #000; }
        .contactsection_page .form_info_section .contct_info_dtl a span {
          display: inline-block;
          vertical-align: middle;
          background: #b89648;
          font-size: 20px;
          color: #fff;
          width: 55px;
          height: 55px;
          text-align: center;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          position: relative;
          border-radius: 50%;
          margin: 0 15px 0 0; }
          .contactsection_page .form_info_section .contct_info_dtl a span i {
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            left: 0;
            right: 0; }
        .contactsection_page .form_info_section .contct_info_dtl a p {
          display: inline-block;
          vertical-align: middle;
          font-size: 20px;
          font-weight: 400; }
        .contactsection_page .form_info_section .contct_info_dtl a:hover {
          color: #b89648; }
          .contactsection_page .form_info_section .contct_info_dtl a:hover span {
            border-radius: 0; }
      .contactsection_page .form_info_section .contct_info_dtl ul {
        float: right; }
        .contactsection_page .form_info_section .contct_info_dtl ul li {
          float: left;
          margin: 0 0 0 18px; }
          .contactsection_page .form_info_section .contct_info_dtl ul li a {
            border: 1px solid #cacaca;
            color: #b89648;
            width: 52px;
            height: 52px;
            text-align: center;
            line-height: 50px;
            font-size: 22px; }
            .contactsection_page .form_info_section .contct_info_dtl ul li a:hover {
              color: #fff;
              background: #b89648; }

.course_page_section .all_courses .course_box {
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 8px #ddd;
  box-shadow: 0 0 8px #ddd;
  min-height: 382px;
  position: relative;
  padding-top: 160px;
  margin: 247px 0 0; }
  .course_page_section .all_courses .course_box figure {
    width: 258px;
    height: 258px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: -127px;
    left: 0;
    right: 0;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 8px #959292;
    box-shadow: 0 0 8px #959292; }
    .course_page_section .all_courses .course_box figure img {
      width: 100%;
      height: 100%; }
  .course_page_section .all_courses .course_box h3 {
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin: 0 0 48px; }
    .course_page_section .all_courses .course_box h3:after {
      content: "";
      background: #b89648;
      height: 2px;
      width: 80px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -20px;
      position: absolute; }
    @media screen and (max-width: 1370px) {
      .course_page_section .all_courses .course_box h3 {
        font-size: 20px; } }
  .course_page_section .all_courses .course_box p {
    font-weight: 300;
    font-size: 20px;
    color: #717171;
    line-height: 2; }
    @media screen and (max-width: 1370px) {
      .course_page_section .all_courses .course_box p {
        font-size: 15px; } }
  .course_page_section .all_courses .course_box a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background: #b89648;
    display: block;
    position: absolute;
    bottom: -25px;
    padding: 12px 30px;
    left: 0;
    right: 0;
    width: 175px;
    margin: auto;
    text-align: center;
    z-index: 1; }
  .course_page_section .all_courses .course_box .sold {
    color: #fff;
    background: #e12121;
    width: 95px;
    padding: 7px 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 107px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 15px; }

.course_page_section .below_heading_tagline {
  text-align: center; }
  .course_page_section .below_heading_tagline p {
    font-size: 18px;
    color: #333333;
    font-weight: 300; }
    .course_page_section .below_heading_tagline p:last-of-type {
      margin: 15px 0 0; }
      .course_page_section .below_heading_tagline p:last-of-type strong {
        color: #b89648; }
    @media screen and (max-width: 1370px) {
      .course_page_section .below_heading_tagline p {
        font-size: 15px; } }
  .course_page_section .below_heading_tagline a {
    color: #fff;
    padding: 13px 32px;
    font-size: 20px;
    text-transform: uppercase;
    background: #b89648;
    display: inline-block;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500; }

.course_page_section .slider_course {
  text-align: center; }
  .course_page_section .slider_course.owl-carousel .owl-stage-outer {
    padding: 0 0 30px 0; }
  .course_page_section .slider_course .course_box {
    margin-top: 205px; }
    .course_page_section .slider_course .course_box a {
      width: 190px; }

.course_page_section .downloadpdf_plus_slider {
  position: relative;
  text-align: center;
  padding: 95px 0 110px;
  background-size: cover !important; }
  .course_page_section .downloadpdf_plus_slider .dwnld_pdf_btn {
    background: #343434;
    display: inline-block;
    padding: 14px 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    margin: 100px 0 0; }
    .course_page_section .downloadpdf_plus_slider .dwnld_pdf_btn:hover, .course_page_section .downloadpdf_plus_slider .dwnld_pdf_btn:focus {
      background: #b89648;
      color: #fff; }
  .course_page_section .downloadpdf_plus_slider .owl-prev {
    left: 10px;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: transparent;
    top: 58%; }
    .course_page_section .downloadpdf_plus_slider .owl-prev::before {
      color: #b89648;
      content: "\f104";
      font-family: FontAwesome;
      font-size: 75px;
      left: -2px;
      position: absolute;
      right: 0;
      top: 3px;
      text-align: center; }
  .course_page_section .downloadpdf_plus_slider .owl-next {
    right: 10px;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: transparent;
    top: 58%; }
    .course_page_section .downloadpdf_plus_slider .owl-next::before {
      color: #b89648;
      content: "\f105";
      font-family: FontAwesome;
      font-size: 75px;
      left: 0px;
      position: absolute;
      right: 0;
      top: 3px;
      text-align: center; }

.course_page_section .testimonial_page_slider {
  padding: 105px 0 0; }
  .course_page_section .testimonial_page_slider .carousel-inner {
    overflow: visible;
    margin: 140px 0 60px; }
  .course_page_section .testimonial_page_slider .count {
    bottom: -80px;
    color: #000;
    font-size: 27px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99; }
  .course_page_section .testimonial_page_slider .tstm_box {
    border: 1px solid #b89648;
    padding: 75px 25px 20px;
    position: relative;
    text-align: center; }
    .course_page_section .testimonial_page_slider .tstm_box .profile_pic {
      background: #fff none repeat scroll 0 0;
      height: 74px;
      margin: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: -50px;
      width: 153px;
      z-index: 9999; }
      .course_page_section .testimonial_page_slider .tstm_box .profile_pic span {
        float: left;
        width: 90px;
        height: 90px;
        border: 1px solid #b89648;
        border-radius: 50%;
        position: relative; }
        .course_page_section .testimonial_page_slider .tstm_box .profile_pic span img {
          width: 47px;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          left: 0;
          right: 0;
          margin: auto; }
      .course_page_section .testimonial_page_slider .tstm_box .profile_pic:before {
        background: #b89648 none repeat scroll 0 0;
        content: "";
        height: 6px;
        right: 0;
        position: absolute;
        top: 63%;
        width: 6px; }
    .course_page_section .testimonial_page_slider .tstm_box p,
    .course_page_section .testimonial_page_slider .tstm_box h5,
    .course_page_section .testimonial_page_slider .tstm_box h6 {
      font-size: 18px;
      font-weight: 300;
      color: #333333;
      font-style: italic; }
      @media screen and (max-width: 1370px) {
        .course_page_section .testimonial_page_slider .tstm_box p,
        .course_page_section .testimonial_page_slider .tstm_box h5,
        .course_page_section .testimonial_page_slider .tstm_box h6 {
          font-size: 15px; } }
    .course_page_section .testimonial_page_slider .tstm_box h5 {
      font-weight: 500;
      margin: 15px 0 5px;
      font-style: normal; }
  .course_page_section .testimonial_page_slider .carousel-control-prev {
    width: 30px;
    height: 32px;
    color: #000;
    opacity: 1;
    font-size: 45px;
    overflow: hidden;
    top: inherit;
    bottom: -73px;
    left: 45%;
    z-index: 100; }
    .course_page_section .testimonial_page_slider .carousel-control-prev .carousel-control-prev-icon {
      height: 65px;
      display: block;
      background: none; }
    .course_page_section .testimonial_page_slider .carousel-control-prev:hover {
      color: #b89648;
      opacity: 1; }
  .course_page_section .testimonial_page_slider .carousel-control-next {
    width: 30px;
    height: 32px;
    color: #000;
    opacity: 1;
    font-size: 45px;
    overflow: hidden;
    top: inherit;
    bottom: -73px;
    right: 45%;
    z-index: 100; }
    .course_page_section .testimonial_page_slider .carousel-control-next .carousel-control-next-icon {
      height: 65px;
      display: block;
      background: none; }
    .course_page_section .testimonial_page_slider .carousel-control-next:hover {
      color: #b89648;
      opacity: 1; }

.tab_courses {
  border-top: 1px solid #d5d5d5;
  padding: 60px 0;
  margin: 60px 0 0; }
  .tab_courses ul {
    text-align: center;
    display: block;
    border: 0; }
    .tab_courses ul li {
      display: inline-block;
      float: none;
      margin: 0 -4px 0 0; }
      .tab_courses ul li a {
        background: #f3f2f3;
        display: block;
        padding: 14px 30px;
        color: #000000;
        font-size: 23px;
        text-transform: capitalize;
        font-weight: 400; }
        .tab_courses ul li a.active {
          color: #fff;
          background: #b89648; }
        @media screen and (max-width: 1370px) {
          .tab_courses ul li a {
            font-size: 20px; } }
  .tab_courses .tab-content {
    padding: 60px 0 0; }
  .tab_courses .under_tab_info {
    width: 50%;
    float: left;
    padding: 0 85px 0 0; }
    .tab_courses .under_tab_info h4 {
      font-size: 24px;
      color: #949494;
      text-transform: uppercase;
      margin: 0 0 15px; }
      @media screen and (max-width: 1370px) {
        .tab_courses .under_tab_info h4 {
          font-size: 18px; } }
    .tab_courses .under_tab_info h3 {
      font-size: 34px;
      margin: 0 0 43px;
      position: relative;
      font-weight: 500;
      color: #000000;
      text-transform: capitalize; }
      .tab_courses .under_tab_info h3:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        background: #b89648;
        width: 80px;
        height: 2px; }
      @media (max-width: 1370px) {
        .tab_courses .under_tab_info h3 {
          font-size: 20px; } }
    .tab_courses .under_tab_info ul li {
      display: block;
      width: 90%;
      text-align: left;
      position: relative;
      font-size: 18px;
      color: #333333;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
      padding: 0 0 20px 25px;
      margin: 0 0 20px 0; }
      .tab_courses .under_tab_info ul li:before {
        content: "";
        background: #b89648;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 11px;
        left: 0; }
      .tab_courses .under_tab_info ul li:last-child {
        border: 0;
        margin: 0;
        padding-bottom: 0; }
      @media screen and (max-width: 1370px) {
        .tab_courses .under_tab_info ul li {
          font-size: 15px; } }
    .tab_courses .under_tab_info .sponsr_logos {
      float: right;
      width: 100%;
      margin-top: 40px;
      position: relative; }
      .tab_courses .under_tab_info .sponsr_logos ul li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        border: 0;
        width: auto;
        padding: 0; }
        .tab_courses .under_tab_info .sponsr_logos ul li:first-child img {
          width: 70%; }
        .tab_courses .under_tab_info .sponsr_logos ul li:before {
          display: none;
          padding: 0; }
        @media (max-width: 1370px) {
          .tab_courses .under_tab_info .sponsr_logos ul li {
            margin: 0 10px 0 0; } }
  .tab_courses .tab_image_slider {
    text-align: center; }
    .tab_courses .tab_image_slider .owl-dots {
      margin: 15px 0 0; }
      .tab_courses .tab_image_slider .owl-dots .owl-dot {
        width: 15px;
        height: 15px;
        background: #d1d1d1;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px; }
        .tab_courses .tab_image_slider .owl-dots .owl-dot.active {
          background: #b89648; }

/*******************************************MODAL CSS STARTS HERE*************************************************/
.modal-open .modal {
  overflow-x: visible !important; }

.modal-open {
  overflow-y: auto !important; }

.modal {
  text-align: center;
  z-index: 9999999;
  overflow-y: auto; }
  .modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px; }
  .modal.login .modal-dialog {
    max-width: 500px; }
  .modal .modal-dialog {
    max-width: 835px;
    margin: 30px auto;
    width: 90%;
    display: inline-block;
    vertical-align: middle; }
  .modal .modal-content {
    background: #fff;
    border-radius: 0;
    padding: 30px 40px;
    text-align: center;
    background: #FFFFFF;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, #fcfcfc), color-stop(50%, #ffffff));
    background: -webkit-linear-gradient(bottom right, #fcfcfc 50%, #ffffff 50%);
    background: -o-linear-gradient(bottom right, #fcfcfc 50%, #ffffff 50%);
    background: linear-gradient(to top left, #fcfcfc 50%, #ffffff 50%);
    background: -webkit-linear-gradient(to top left, #fcfcfc 50%, #ffffff 50%); }
  .modal .modal-title {
    font-size: 36px;
    text-transform: uppercase;
    color: #1f1f1f;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 35px; }
  .modal .modal-header {
    min-height: auto;
    padding: 0;
    border-bottom: 0 none;
    display: block; }
    .modal .modal-header .close {
      float: right;
      font-size: 21px;
      font-weight: 700;
      color: #fff;
      text-shadow: none;
      -webkit-filter: inherit;
      filter: inherit;
      opacity: 1;
      border: 3px solid #fff;
      position: absolute;
      right: -10px;
      top: -10px;
      background: #b89648;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 32px;
      border-radius: 50%;
      padding: 0;
      margin: 0; }
      .modal .modal-header .close:hover, .modal .modal-header .close:focus {
        background: #d19e2b; }
    .modal .modal-header .tagline {
      margin: -30px 0 40px;
      font-size: 21px; }
  .modal .modal-body {
    padding: 0; }
  .modal label {
    font-size: 17px;
    color: #1f1f1f;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 10px;
    text-align: left !important;
    display: block; }
  .modal .form-control {
    height: 50px;
    border: 1px solid #9a9a9a;
    color: #000;
    padding: 0 15px;
    width: 100%;
    background: none;
    border-radius: 0; }
  .modal input[type="button"],
  .modal input[type="submit"] {
    background: #b89648;
    border: 2px solid #fff;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 35px;
    text-align: center;
    margin: 25px auto 0;
    display: block;
    text-transform: uppercase;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    cursor: pointer; }
    .modal input[type="button"]:hover, .modal input[type="button"]:focus,
    .modal input[type="submit"]:hover,
    .modal input[type="submit"]:focus {
      background: #d19e2b; }
  .modal a {
    color: #b89648; }
  .modal p {
    color: #1f1f1f;
    font-weight: 300;
    font-size: 17px;
    margin: 20px 0 0; }
  .modal .rmmbr_line {
    margin: 5px 0 0; }
    .modal .rmmbr_line span {
      float: left;
      width: 40%;
      text-align: left; }
    .modal .rmmbr_line .frgt {
      margin: 0;
      float: right;
      color: #1f1f1f;
      font-weight: 500; }
      .modal .rmmbr_line .frgt:hover {
        color: #b89648; }
  .modal .agree {
    text-align: left;
    margin-bottom: 40px; }

/*--------------------------------------------------------------
- Footer 
--------------------------------------------------------------*/
footer {
  background: #000;
  padding: 60px 0 0;
  position: relative;
  z-index: 2; }
  footer .footer_logo {
    padding: 0 50px;
    display: inline-block;
    vertical-align: top;
    width: 20%; }
  footer .foot_block {
    display: inline-block;
    vertical-align: top;
    width: 25%; }
    footer .foot_block h2 {
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 20px; }
    footer .foot_block li {
      float: left;
      width: 50%;
      font-weight: 300;
      font-size: 16px;
      text-transform: capitalize;
      margin: 0 0 16px; }
      footer .foot_block li a {
        color: #fff; }
        footer .foot_block li a:hover {
          color: #b89648; }
      @media screen and (max-width: 1370px) {
        footer .foot_block li {
          font-size: 14px; } }
    footer .foot_block p {
      font-weight: 300;
      font-size: 16px;
      margin: 0 0 16px;
      color: #fff; }
      footer .foot_block p a {
        color: #fff; }
        footer .foot_block p a:hover {
          color: #b89648; }
      @media screen and (max-width: 1370px) {
        footer .foot_block p {
          font-size: 14px; } }
  footer .cntct_block {
    border-left: 2px solid #4f5b60;
    border-right: 2px solid #4f5b60;
    padding-left: 6%;
    padding-bottom: 2%; }
    @media screen and (max-width: 1370px) {
      footer .cntct_block {
        padding-left: 4%; } }
  footer .sbscribe_div {
    padding-left: 6%; }
    @media screen and (max-width: 1370px) {
      footer .sbscribe_div {
        padding-left: 4%; } }
    footer .sbscribe_div input {
      width: 70%;
      float: left;
      background: #fff;
      border: 1px solid #fff;
      height: 42px;
      padding: 0 15px; }
    footer .sbscribe_div button {
      background: #b89648;
      border: 1px solid #b89648;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      height: 42px;
      float: left;
      width: 30%;
      cursor: pointer;
      font-size: 14px; }
      footer .sbscribe_div button:hover {
        background: #d19e2b; }
    footer .sbscribe_div ul {
      margin: 35px 0 0;
      overflow: hidden;
      display: block;
      width: 100%; }
      footer .sbscribe_div ul li {
        float: left;
        width: auto;
        margin: 0 25px 0 0; }
  footer .copyright {
    background: #191919;
    padding: 12px;
    margin: 45px 0 0; }
    footer .copyright p {
      color: #b2b2b2;
      font-size: 15px;
      font-weight: 300; }
      footer .copyright p a {
        color: #2ba2cc; }
        footer .copyright p a:hover {
          color: #b89648; }
      @media screen and (max-width: 1370px) {
        footer .copyright p {
          font-size: 14px; } }
      @media screen and (max-width: 1300px) {
        footer .copyright p {
          font-size: 13px; } }
    footer .copyright ul li {
      color: #b2b2b2;
      margin: 0 40px 0 0;
      font-size: 15px;
      font-weight: 300;
      position: relative;
      float: left; }
      footer .copyright ul li:last-child {
        margin: 0; }
        footer .copyright ul li:last-child:after, footer .copyright ul li:last-child:before {
          display: none; }
      footer .copyright ul li:after {
        position: absolute;
        content: "";
        right: -20px;
        background: #9c9c9c;
        height: 11px;
        width: 1px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
        @media screen and (max-width: 1370px) {
          footer .copyright ul li:after {
            right: -16px; } }
        @media screen and (max-width: 1300px) {
          footer .copyright ul li:after {
            right: -10px; } }
      footer .copyright ul li:before {
        position: absolute;
        content: "";
        right: -19px;
        background: #787878;
        height: 11px;
        width: 1px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
        @media screen and (max-width: 1370px) {
          footer .copyright ul li:before {
            right: -15px; } }
        @media screen and (max-width: 1300px) {
          footer .copyright ul li:before {
            right: -9px; } }
      footer .copyright ul li a {
        color: #b2b2b2; }
        footer .copyright ul li a:hover {
          color: #b89648; }
      @media screen and (max-width: 1370px) {
        footer .copyright ul li {
          font-size: 14px;
          margin: 0 30px 0 0; } }
      @media screen and (max-width: 1300px) {
        footer .copyright ul li {
          font-size: 13px;
          margin: 0 20px 0 0; } }

/*--------------------------------------------------------------
- Media Query starts here 
--------------------------------------------------------------*/
@media (min-width: 1950px) {
  .container-fluid {
    max-width: 1870px; }
  .container {
    max-width: 1558px; } }

@media screen and (max-width: 1950px) {
  .container-fluid {
    max-width: 90%; } }
